@charset "utf-8";
/* CSS Document */


/* @webfont */
@font-face{
	font-family:NanumBarunGothicLight;
	font-style:normal;
	font-weight:300;
	src:local('Nanum Barun Gothic Light'),local('Nanum Barun Gothic-Light'),local('NanumBarunGothic Light');
	src:url(../font/NanumBarunGothicLight.eot);
	src:url(../font/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
	url(../font/NanumBarunGothicLight.woff) format('woff'),
	url(../font/NanumBarunGothicLight.ttf) format('truetype');
}
@font-face{
	font-family:NanumBarunGothic;
	font-style:normal;
	font-weight:400;
	src:local('Nanum Barun Gothic Regular'),local('Nanum Barun Gothic-Regular'),local('NanumBarunGothic Regular');
	src:url(../font/NanumBarunGothic.eot);
	src:url(../font/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
	url(../font/NanumBarunGothic.woff) format('woff'),
	url(../font/NanumBarunGothic.ttf) format('truetype');
}
@font-face{
	font-family:NanumBarunGothicBold;
	font-style:normal;
	font-weight:700;
	src:local('Nanum Barun Gothic Bold'),local('Nanum Barun Gothic-Bold'),local('NanumBarunGothic Bold');
	src:url(../font/NanumBarunGothicBold.eot);
	src:url(../font/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
	url(../font/NanumBarunGothicBold.woff) format('woff'),
	url(../font/NanumBarunGothicBold.ttf) format('truetype');
}

/* 공통 */
*{margin:0;padding:0;}
html, body{width:100%;height:100%;}/* (modify)20161005 */
header,nav,section,article,aside,footer,hgroup,menu,canvas,figcaption,figure{display:block;}
html,body,table,th,td,div,p,ol,ul,li,img,a,h1,h2,h3,h4,h5,h6,form,fieldset,label,input,textarea,select,span,iframe,dl,dt,dd,pre,blockquote,time,hr{margin:0;padding:0;}

/* basic */
body{font-family:Dotum,'돋움',Gulim,'굴림',Arial,sans-serif;font-size:12px;color:#555;}
div,p,ol,ul,li,img,a,h1,h2,h3,form,span,iframe,dl,dt,dd{}
dl,ul,ol{list-style:none;}
table{empty-cells:show;border-collapse:collapse;width:100%;table-layout:fixed;}
fieldset{border:none;}
legend,caption,hr{display:none;}
img{border:none;}
img,label{vertical-align:middle;}
label{vertical-align:middle;height:13px;}
input{vertical-align:middle;}
input[type=text], input[type=file], input[type=password]{height:16px;line-height:16px;padding:3px 2px 2px 2px;*padding-left:1px;vertical-align:middle;font-size:12px;color:#555;border:1px solid #cbcbcb;background:#fff;}
input.i_space{padding-right:2px !important;padding-left:2px !important;*padding-left:1px !important;}/* (add)20170616 */
input[type=checkbox],input[type=radio]{width:13px;height:13px;border:none;background:transparent;vertical-align:middle;-webkit-border-radius:0;}
input.dis,select.dis{background:#f4f4f4 !important;color:#bbb !important;}/* (add)20161014 */
input,select,textarea{vertical-align:middle;font-family:Dotum,'돋움',Gulim,'굴림',Arial,sans-serif;font-size:12px;border:1px solid #cbcbcb;}
textarea{padding:6px 0 6px 4px;color:#555;*padding-left:1px;resize:vertical;}/* (modify)20170713 */
select{display:inline-block;color:#555;height:23px;padding:2px 2px 2px 3px !important;}

/* align */
.t_center, .tac{text-align:center !important;}
.t_right, .tar{text-align:right !important;}
.t_left, .tal{text-align:left !important;}

.v_top, .vat{vertical-align:top !important;}
.v_middle, .vam{vertical-align:middle !important;}
.v_bottom, .vab{vertical-align:bottom !important;}

.f_right, .frt{float:right !important;}
.f_left, .flt{float:left !important;}
.f_none, .fno{float:none !important;}

.cboth{clear:both;*overflow:hidden;}/* (add)20170317 */
.cboth:before,.cboth:after{display:table;content:'';}/* (add)20170317 */
.cboth:after{clear:both;}/* (add)20170317 */

/* text common */
/* default link */
a{cursor:pointer;}
a:link,a:visited{text-decoration:none;color:#555;}
a:hover,a:active{text-decoration:none;color:#555;}
a.off{cursor:default;}/* (add)20170529 */

/* font weight */
.fwb{font-weight:bold !important;}
.fwn{font-weight:normal !important;}

/* font color */
.txt_r{color:#f00 !important;}
.txt_b{color:#3598db !important;}
.txt_pu{color:#ab41f6 !important;}
.txt_g{color:#999 !important;}
.txt_dgray{color:#464646 !important;}/* (add)20161012 */
.txt_o{color:#f88b21 !important;}/* (add)20160329 */
.txt_uline{text-decoration:underline !important;}

/* margin/padding */
.mgt2{margin-top:2px !important;}
.mgt5{margin-top:5px !important;}
.mgt6{margin-top:6px !important;}/* (add)20170616 */
.mgt8{margin-top:8px !important;}/* (add)20161005 */
.mgt10{margin-top:10px !important;}
.mgt15{margin-top:15px !important;}
.mgt20{margin-top:20px !important;}
.mgt25{margin-top:25px !important;}
.mgt30{margin-top:30px !important;}
.mgt35{margin-top:35px !important;}
.mgt40{margin-top:40px !important;}
.mgt45{margin-top:45px !important;}
.mgt50{margin-top:50px !important;}
.mgt110{margin-top:110px !important;}/* (add)20170320 */
.mgb2{margin-bottom:2px !important;}/* (add)20170705 */
.mgb5{margin-bottom:5px !important;}
.mgb10{margin-bottom:10px !important;}
.mgb12{margin-bottom:12px !important;}/* (add)20161012 */
.mgb15{margin-bottom:15px !important;}
.mgb20{margin-bottom:20px !important;}
.mgb25{margin-bottom:25px !important;}
.mgb30{margin-bottom:30px !important;}
.mgb35{margin-bottom:35px !important;}
.mgb40{margin-bottom:40px !important;}
.mgb45{margin-bottom:45px !important;}
.mgb50{margin-bottom:50px !important;}
.mgb60{margin-bottom:60px !important;}/* (add)20170609 */
.mgr4{margin-right:4px !important;}/* (add)20170616 */
.mgr5{margin-right:5px !important;}/* (add)20170725 */
.mgr6{margin-right:8px !important;}/* (add)20170827 */
.mgr10{margin-right:10px !important;}
.mgl4{margin-left:4px !important;}/* (add)20170616 */
.mgl10{margin-left:10px !important;}/* (add)20170120 */
.mgl12{margin-left:12px !important;}/* (add)20170825 */
.mgl15{margin-left:15px !important;}/* (add)20170125 */
.mgl20{margin-left:20px !important;}/* (add)20170125 */
.mgl25{margin-left:25px !important;}/* (add)20170125 */
.mgl30{margin-left:30px !important;}/* (add)20170908 */
.mgl60{margin-left:60px !important;}/* (add)20170908 */
.mgl90{margin-left:90px !important;}/* (add)20170908 */
.mgl120{margin-left:120px !important;}/* (add)20170908 */
.mgl150{margin-left:150px !important;}/* (add)20170908 */
.mgl180{margin-left:180px !important;}/* (add)20170908 */
.mgl210{margin-left:210px !important;}/* (add)20170908 */

.pdt0{padding-top:0 !important;}/* (add)20170825 */
.pdr0{padding-right:0 !important;}/* (add)20170825 */
.pdr2{padding-right:2px !important;}/* (add)20170825 */
.pdb0{padding-bottom:0 !important;}/* (add)20170825 */
.pdl0{padding-left:0 !important;}/* (add)20170825 */

.ie7_srollbar_weight{*margin-right:17px !important;}/* (add)20170120 */

/* etc */
.blind{display:none !important;}
.skip{position:absolute;top:-100000px;left:-100000px;visibility:hidden;overflow:hidden;}
.t_hover:hover{text-decoration:underline !important;}

/* IE10 input type auto x delete */
input[type=text]::-ms-clear,input[type=file]::-ms-clear{display:none;}

/* webkit */
::-webkit-input-placeholder{color:#bbb !important;}
/* FF 4~18 */
:-moz-placeholder{color:#bbb !important;}
/* FF 19+ */
::-moz-placeholder{color:#bbb !important;}
/* IE10+ */
:-ms-input-placeholder{color:#bbb !important;}
/* placehoder color style */
.my-placeholder{color:#bbb !important;}

/* 필수 입력 컬러 (input) */
.input_red{border:1px solid #e37172 !important;}

/* Chrome Field Outline = None */
input:focus{outline:none;}
textarea:focus{outline:none;}
select:focus{outline:none;}
button:focus{outline:none;}
